name: "unit_tests"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.type }}
  cancel-in-progress: true
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

jobs:
  # Run unit tests
  test_pip:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -e {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: "3.13"
          - os: macos-15-intel  # Intel
            python-version: "3.13"
          - os: macos-latest  # arm64
            python-version: "3.13"
          - os: windows-latest
            python-version: "3.13"
    env:
      TZ: Europe/Berlin
      FORCE_COLOR: true
      DISPLAY: ":99.0"
      OPENBLAS_NUM_THREADS: "1"
      PYTHONUNBUFFERED: "1"
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v6
      - uses: pyvista/setup-headless-display-action@main
        with:
          qt: true
          pyvista: false
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install --upgrade --upgrade-strategy eager .[test]
      - name: Display versions and environment information
        run: |
          echo $TZ
          date
          python --version
          which python
      - run: pip install -e .
      - run: python -c "import mni_to_atlas; print(f'mni-to-atlas {mni_to_atlas.__version__}')"
      - name: Run pytest
        run: python -m coverage run && coverage report


  test_old:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -e {0}
    env:
      TZ: Europe/Berlin
      FORCE_COLOR: true
      DISPLAY: ":99.0"
      OPENBLAS_NUM_THREADS: "1"
      PYTHONUNBUFFERED: "1"
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: actions/checkout@v6
      - uses: pyvista/setup-headless-display-action@main
        with:
          qt: true
          pyvista: false
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install --upgrade --upgrade-strategy eager .[test]
      - name: Display versions and environment information
        run: |
          echo $TZ
          date
          python --version
          which python
      - run: |
          pip install -e . --no-deps
          pip install -r tools/requirements_old.txt
      - run: python -c "import mni_to_atlas; print(f'mni-to-atlas {mni_to_atlas.__version__}')"
      - name: Run pytest
        run: python -m coverage run && coverage report
